@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: $light-background;
  height: 100vh;
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 5rem;
  text-align: center;
}